html {
    font-family: 'Karla', sans-serif;
    font-Weight: 400, 700;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 212, 209);
    padding: 100px 50px;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    margin: auto, 0;
    border-radius: 50px;
    box-shadow: 550px;
}

.head3 {
    color: #00ccff;
    font-size: 30px;
    margin-bottom: 10px;
}

.head4 {
    color: #77b300;
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    color: #808080;
    
}

.head5 {
    color: white;
    font-size: 26px;
    padding: 0px;
    margin: 0px;
}

.incontent {
    font-size: 36px;
    color: white;
}

.endContent{
    line-height: 20px;
    font-size: small;
    color: rgb(184, 185, 187);
}

.head2 {
    color: white;
    font-size: 1.3rem;
    padding: 0px;
    margin: 0px;
}

.item-1 {
    background-color: white;
    padding: 30px;

}

.item-2 {
    background-color: #33cccc;
    padding: 30px;
}

button {
    text-align: center;
    width: 90%;
    height: 22%;
    padding: 10px;
    background-color: rgb(207, 250, 80);
    color: white;
    display: block;
    border-radius: 4px;
    font-weight:700;
    border: hidden;
}

button:hover {
    color: #33cccc;
}

body {
    Font-size: 16px;
    margin: 0;
    padding: 0
}

.item-3 {
    background-color: #87e4e4;
    padding: 30px;
}

@media only screen and (min-width: 500px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .item-1 {
        grid-area: 1/ 1/ 2/ 3;
    }

    .item-2 {
        grid-row: 2;
    }

    .item-3 {
        grid-row: 2;
    }
}